@media only screen and (max-width:1500px){

  //Styling for home page
  main{
    section {
      .mainArea{
        .contentArea{
          .spriteImageOne {
            background: url('../../assets/sprites/NickOneMedium.png') left center;
            margin: 7.5em 0 0 1.5em ;
            width: 130px;
            height: 129px;
            animation: spriteTimeLineMedium 0.7s steps(3) infinite;
            float:left;
          }

          .spriteImageTwo{
            background: url('../../assets/sprites/NickTwoMedium.png') left center;
            margin: 7.5em 0 0 1.5em;
            width: 130px;
            height: 129px;
            animation: spriteTimeLineMedium 0.7s steps(3) infinite;
            float:left;
          }

          .spriteImageThree{
            background: url('../../assets/sprites/NickThreeMedium.png') left center;
            margin: 7.5em 0 0 1.5em;
            width: 130px;
            height: 128px;
            animation: spriteTimeLineMedium 0.7s steps(3) infinite;
            float:left;
          }

          @keyframes spriteTimeLineMedium {
            100% { background-position: -384px;}
          }

          .charOne{
            @include span-columns(8);
          }

          .charTwo{
            @include span-columns(8);

          }

          .charThree{
            @include span-columns(8);
          }
        }
      }
    }
  }


  main{
    .mainArea{
      .contentArea {
        .charOne{
          @include span-columns(7);
        }

        .charTwo{
          @include span-columns(7);

        }

        .charThree{
          @include span-columns(7);
        }

        //JOb section
        .timeline{
          .timelineArea{
            .firstStop {
              .spriteFirst {
                margin-left:25%;
              }
            }
            .secondStop {
              .spriteSecond {
                margin-left:25%;
              }
            }
            .thirdStop {
              .spriteThird {
                margin-left:25%;
              }
            }
            .fourthStop {
              .spriteFourth {
                margin-left:25%;
              }
            }
          }
        }

        //Styling for Projects/Quests Completed Section
          .firstProject{
            height:16em;
          }

          .secondProject{
            height:16em;
          }

          .thirdProject{
            height:16em;
          }

          .fourthProject{
            height:16em;
            margin-top:16%;
          }
          .fifthProject{
            margin-top:16%;
            height:16em;
          }


        //For skills page

        .charPic{
          div{
            img{
              margin-top:20%;
            }
          }
        }
        .charEquippedSkills{

          div{
            ul{
              font-size:1.2em;
            }
          }
        }

        .charStats{

          div{
            p{
              font-size:1.25em;
              margin:3% 0 3% 0;
            }
          }
        }

        .charMisc{

          div{
            ul{
              font-size:1.2em;
            }
          }
        }

        .charEquip{

          div{
            ul{
              font-size:1.2em;
            }
            img{
            }
          }
        }
      }
    }
  }

  //Menu Area Design
  main{
    .menuArea{
      @include span-columns(3.5);
      height:19em;
      right:2%;

      ul{
        font-size:1.4em;
      }
    }
    .profileInfo{
      @include span-columns(5);
      right:2%;
      .creator{
        section{
          h2{
            font-size:1.3em;
          }
          h3{
            font-size:1.1em;
          }
        }
        img{
          height:8.5em;
          width:11.5em;
          position:relative;
          left:1em;
          bottom:12em;
        }
      }
    }
  }

  //This was done later to have individual main contentArea
    .projectArea{
      height:55em;
    }
}
