

@media (min-width:1px) and (max-width:1370px){

  //Styling for home page
  main{
    section {
      .mainArea{
        .contentArea{
          .charOne{
            .charStatsOne{
              h2{
                font-size:1.2em;
              }
              span:nth-child(2){
                font-size:1.3em;
              }
              span{
                font-size:1em;
              }
            }

            .charStatsTwo{
              span:nth-child(1){
                font-size:1.3em;
              }
              span{
                font-size:1em;
              }
            }
          }

          .charTwo{
            .charStatsOne{
              h2{
                font-size:1.2em;
              }
              span:nth-child(2){
                font-size:1.3em;
              }
              span{
                font-size:1em;
              }
            }

            .charStatsTwo{
              span:nth-child(1){
                font-size:1.3em;
              }
              span{
                font-size:1em;
              }
            }
          }

          .charThree{
            .charStatsOne{
              h2{
                font-size:1.2em;
              }
              span:nth-child(2){
                font-size:1.3em;
              }
              span{
                font-size:1em;
              }
            }

            .charStatsTwo{
              span:nth-child(1){
                font-size:1.3em;
              }
              span{
                font-size:1em;
              }
            }
          }
        }
      }
    }
  }

    main{
      .mainArea{
        .contentArea {
          //Job section
          .timeline{
            .timelineArea{
              .firstStop {
                .spriteFirst {
                  margin-left:21%;
                }
              }
              .secondStop {
                .spriteSecond {
                  margin-left:21%;
                }
              }
              .thirdStop {
                .spriteThird {
                  margin-left:21%;
                }
              }
              .fourthStop {
                .spriteFourth {
                  margin-left:21%;
                }
              }
            }
          }

          // Styling for the paragraphs in the Journey Page
          h1{
            color:white;
            margin-left: 1.4em;
          }
          #journeyArea{

            p{
              color:white;
              font-size:1.3em;
              margin:1.4em 3em 0 2em;
            }

            p:nth-child(1){
              margin-right:13em;
            }
          }

          //For skills page
          .charPic{
            div{
              img{
                margin-top:25%;
              }
            }
          }
          .charEquippedSkills{
            @include span-columns(6.7);
            div{
              ul{
                font-size:1em;
              }
            }
          }

          .charStats{

            div{
              p{
                font-size:1.2em;
                margin:3% 0 3% 0;
                line-height:2em;
              }
            }
          }

          .charMisc{
            @include span-columns(6.7);
            div{
              ul{
                font-size:1em;
              }
            }
          }

          .charEquip{
            @include span-columns(6.7);
            div{
              ul{
                font-size:1em;
              }
              img{
                height:1.6em;
                width: 1.6em;
              }
            }
          }
        }
      }
    }
  }

//Menu Area Design
main{
  .menuArea{
    @include span-columns(3.7)
    height:19em;
    right:1%;

    ul{
      font-size:1.35em;
    }
  }
  .profileInfo{
    right:1%;
    .creator{
      section{
        h2{
          font-size:1.3em;
        }
        h3{
          font-size:1.1em;
        }
      }
        img{
          margin-top:4%;
          height:5.5em;
          width:8.5em;
        }
    }
  }
}
