@media only screen and (max-width:1150px){

  //Mixins Area
  @mixin charStyle{
    .charStatsOne{
      @include span-columns(12);
      padding:0 0 0 0.7em;
      margin:0;

      h2{
        font-size:1em;
        @include shift(0.8);
      }
      span:nth-child(2){
        font-size:1.1em;
      }
      span{
        font-size:1em;
      }
    }
    .charStatsTwo{
      @include span-columns(12);
      padding:0.7em 0 0 0.7em;
      margin:0;

      span:nth-child(1){
        font-size:1.1em;
      }
      span{
        font-size:1em;
      }
    }
  }

  //Styling for home page
  main{
    height:83em;
    background-image: url('http://i.ytimg.com/vi/qDxpIvovlOs/maxresdefault.jpg');
    z-index:-1;
    background-repeat: no-repeat;
    background-size: cover;
    .mainSection {
      .mainArea{
        @include span-columns(8);
        @include shift(2);
        height:79em;

        .contentArea{
          .charOne{
            @include shift(1.8);
            @include charStyle;

            .spriteImageOne {
              margin: 2em 0 0 13%;
            }
          }

          .charTwo{
            @include shift(1.8);
            @include charStyle;

            .spriteImageTwo{
              margin: 2em 0 0 13%;
            }
            .charStatsOne{

              h2{
                font-size:1em;
                @include shift(1);
              }
            }
          }


          .charThree{
            @include shift(1.8);
            @include charStyle;

            .spriteImageThree{
              margin: 2em 0 0 13%;
            }
          }
        }
      }
    }
  }

  main{
    .mainArea{
      height:79em;
      .contentArea {
        //Job section
        .timelineText{
          font-size: 1em;

          div{
            h1{
              margin-top:35%;
            }

            .arrowDown{
              margin-left:37%;
            }
          }
        }
        .timeline{
          .timelineArea{
            .firstStop {
              .spriteFirst {
                margin-left:12.5%;
              }
            }
            .secondStop {
              .spriteSecond {
                margin-left:12.5%;
              }
            }
            .thirdStop{
              .spriteThird {
                margin-left:12.5%;
              }
            }
            .fourthStop {
              .spriteFourth {
                margin-left:12.5%;
              }
            }
          }
        }

        // Styling for the paragraphs in the Journey Page
        h1{
          color:white;
          margin-left: 1.4em;
        }
        #journeyArea{

          p{
            color:white;
            font-size:1.4em;
            margin:1.4em 3em 0 2em;
          }

          p:nth-child(1){
            margin-right:13em;
          }
        }

        //For skills page
        .charPic{
          @include span-columns(3.4);
          div{
            img{
              margin-top:37%;
            }
          }
        }
        .charEquippedSkills{
          @include span-columns(5);
          height:27em;
          margin-left:0;
          div{
            ul{
              @include span-columns(12);
              font-size:1.3em;
              margin:0;
              padding:0;
              li{
                padding:0;
                span{
                  bottom:0.2em;
                }
                img{
                }
              }
            }
          }
        }

        .charStats{
          @include span-columns(3.4);
          margin-right:0;
          position:relative;;
          bottom:12em;
          height:28em;
          div{
            p{
              font-size:1.05em;
              margin:3% 0 3% 0;
              line-height:2em;
            }
          }
        }

        .charMisc{
          @include span-columns(5);
          height:23em;
          div{
            ul{
              @include span-columns(12);
              font-size:1.3em;
              margin:0;
              padding:0;

              li{
                padding-bottom:0em;
                span{
                  bottom:0.2em;
                }
                img{
                }
              }
            }

          }
        }

        .charEquip{
          @include span-columns(5);
          height:21em;
          div{
            ul{
              @include span-columns(12);
              font-size:1.3em;
              margin:0;
              padding:0;

              li{
                margin:0;
                padding:0;
              }
              img{
                height:1.6em;
                width: 1.6em;
              }
            }
          }
        }
        //Styling for Projects/Quests Completed Section
        .firstProject{
          @include span-columns(3.6);
          height:14em;

          h2{
            font-size:1.3em;
          }
          h3{
            font-size:1.1em;
          }
        }

        .secondProject{
          @include span-columns(3.6);
          height:14em;
          margin-right:30%;

          h2{
            font-size:1.3em;
          }
          h3{
            font-size:1.1em;
          }
        }

        .thirdProject{
          @include span-columns(3.6);
          height:14em;
          margin-top:28%;


          h2{
            font-size:1.3em;
          }
          h3{
            font-size:1.1em;
          }
        }

        .fourthProject{
          @include span-columns(3.6);
          height:14em;
          margin-top:28%;

          h2{
            font-size:1.3em;
          }
          h3{
            font-size:1.1em;
          }
        }
        .fifthProject{
          @include span-columns(3.6);
          margin-top:28%;
          height:14em;
          h2{
            font-size:1.3em;
          }
          h3{
            font-size:1.1em;
          }
        }
      }
    }
  }

  //Menu Area Design
  main{
    .menuArea{
      @include span-columns(4.6)
      height:21em;
      right:2%;

      ul{
        font-size:1.4em;
      }
    }
    .profileInfo{
      @include span-columns(5);
      right:2%;
      height:19em;
      top:30em;

      .creator{
        section{
          @include span-columns(12);
          h2{
            font-size:1.3em;
            text-align:center;
          }
          h3{
            font-size:1.3em;
            text-align:center;
          }
          h3:nth-child(5){
            padding-top:0
          }
        }
        img{
          margin:4% 0 0 33%;
          height:6em;
          width:10em;
          position:inherit;
        }
        @media (max-width:1020px){
          img{
            margin:4% 0 0 31%;
          }
        }
      }
    }
  }
  //This was done later to have individual main contentArea
  .projectArea{
    height:60em;
  }

  .journeyArea{
    height:100em;
    .journeySection{
      height:88em;
    }
  }
}
