@import '../../dist/bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';
@import '../../dist/bower_components/neat/app/assets/stylesheets/_neat.scss';

@mixin spriteProperties {
  margin: 4.5em 0 0 1.5em;
  width: 180px;
  height: 192px;
  animation: play 0.7s steps(3) infinite;
  float:left;
}

@mixin charSetup {
  .charStatsOne {
    @include span-columns(5);
    padding: 2.5em 0 0 3em;

    span{
      font-size:1.3em;
      @include span-columns(12);
    }
    span:nth-child(2){
      @include span-columns(12);
      font-size:1.5em;
      color:#759DEC;
      float:left;
      padding-bottom: 0.5em;
    }
    .staminaBar{
      @include span-columns(6);
      height:1em;
      background-color:black;
      float:left;
      margin:0.2em 0 0.2em 0;

    }
    .willBar {
      @include span-columns(6);
      height:1em;
      background-color:black;
      float:left;
      margin-top:0.2em;
    }
  }

  .charStatsTwo{
    @include span-columns(4);
    padding-top: 7.1em;

    span:nth-child(1){
      color:#759DEC;
      padding-bottom:0.5em;
    }
    span{
      font-size:1.3em;
      @include span-columns(12);
    }
    .experienceBar {
      @include span-columns(6);
      background-color:black;
      height:1em;
      float:left;
    }
  }
}

* {
    font-family: 'PT Sans Caption', sans-serif;
    text-shadow: 2px 3px #000000;
  }

main {
  background-image: url('http://i.ytimg.com/vi/qDxpIvovlOs/maxresdefault.jpg');
  z-index:-1;
  background-repeat: no-repeat;
  background-size: cover;
  height:58em;
  margin:0;
}

.mainArea {
  @include span-columns(10);
  margin: 0.8em;
  height:56em;
  background-color: #0E1A66;
  opacity:0.95;
  border-radius: 1%;
  box-shadow: 0px 0px 5px 13px #3C3A3A inset;

  .contentArea {
    @include span-columns(12);
    border-radius: 1%;
    border: 0.6em white solid;
    height:56em;
    box-shadow: 0px 0px 5px 4px #3C3A3A;
  }

  //This is used to run the frames for the sprites
  .spriteImageOne {
    background: url('../../assets/sprites/NickOneBig.png') left center;
    @include spriteProperties;
  }

  .spriteImageTwo {
    background: url('../../assets/sprites/NickTwoBig.png') left center;
    @include spriteProperties;
  }

  .spriteImageThree {
    background: url('../../assets/sprites/NickThreeBig.png') left center;
    @include spriteProperties;
  }

  @keyframes play {
    100% { background-position: -576px; }
  }
}

//Styling for the character basic stats on main menu

.charOne{
  @include span-columns(10);
  color:white;
  @include charSetup;

  .curStamina{
    width:87%;
    height:100%;
    background-color:green;
  }
  .curWill{
    width:93%;
    height:100%;
    background-color:green;
  }
  .curExp{
      background-color:green;
      width:34%;
      height:100%;
  }
}

.charTwo{
  @include span-columns(10);
  color:white;
  @include charSetup;

  .curStamina{
    width:95%;
    height:100%;
    background-color:green;
  }
  .curWill{
    width:85%;
    height:100%;
    background-color:green;
  }
  .curExp{
      background-color:green;
      width:82%;
      height:100%;
  }
}

.charThree{
  @include span-columns(10);
  color:white;
  @include charSetup;

  .curStamina{
    width:86%;
    height:100%;
    background-color:green;
  }
  .curWill{
    width:93%;
    height:100%;
    background-color:green;
  }
  .curExp{
      background-color:green;
      width:59%;
      height:100%;
  }
}




//Navigation menu area
.menuArea {
  @include span-columns(4);
  background-color: #0E1A66;
  opacity:0.95;
  border-radius: 2%;
  height:18.7em;
  position:absolute;
  right:0em;
  top:1.8em;
  box-shadow: 0px 0px 5px 13px #3C3A3A inset;

  ul{
    width:100%;
    margin:0;
    padding-left:0;
    text-decoration: none;
    list-style-type: none;
    color:white;
    font-size:1.5em;
    border-radius: 2%;
    border: 0.4em white solid;
    height:12.5em;
    box-shadow: 0px 0px 5px 4px #3C3A3A;

    li {
      margin-left:0.7em;
      width:80%;
      padding:0.1em;
      border: 0.1em #0E1A66 solid;
      margin-top:0.2em
    }


    li:hover{
      border: 0.1em white solid;
      background-color: rgba(128, 128, 128, 0.48);
    }
  }
}
